 {% load mezzanine_tags comment_tags keyword_tags staticfiles rating_tags i18n disqus_tags %}

 <!DOCTYPE html>
<html>
<head>
<title>React app#2</title>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!------ Include the above in your HEAD tag ---------->

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins" rel="stylesheet">
<link href="{% static "css/eff/meanRest.css" %}" rel="stylesheet" />
<script src="{% static "js/react.production.min.js" %}"></script>
<script src="{% static "js/react-dom.production.min.js" %}"></script>
<script src="{% static "js/babel.min.js" %}"></script>

<style>
    .bkg{

        background-repeat: no-repeat;
        background-size: 100% 100%;
    }



</style>

<body>



<section class="container section-tours" style="">

 <script type="text/babel">
{% include "meanRest/reactApp/reactLogic.js" %}
{% include "meanRest/reactApp/reactTitle.js" %}
{% include "meanRest/reactApp/reactCard.js" %}


function Wrapp(){
    return (
    <div>
    <div className=" w3-center  ">

    <Header />
    <BmiCalc />


    </div>
    </div>
    );
}

    ReactDOM.render(<Wrapp />, document.getElementById('mydiv'))
</script>


<div id="mydiv"></div>


        </section>



</body>


</html>
